<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Usuário</title>
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>
    <div class="container-login">
        <div>
            <form class="devbook-form" id="formulario-cadastro">
                <span>Cadastre sua conta</span>
                <div>
                    <input type="text" name="nome" id="nome" placeholder="Digite seu Nome" required>
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite seu E-mail" required>
                </div>
                <div>
                    <input type="text" name="nick" id="nick" placeholder="Digite seu Nick" required>
                </div>
                <div>
                    <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required>
                </div>
                <div>
                    <input type="password" name="confirmar-senha" id="confirmar-senha" placeholder="Confirme sua Senha" required>
                </div>
                <a href="/login">Logar-se</a>
                <button type="submit" class="btn-devbook">Cadastrar</button>
            </form>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/cadastro.js"></script>
</body>
</html>